<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-items-center" style="height: 80vh;">
      <div class="card mx-auto p-5">
        <form [formGroup]="galeriaCmsForm" (ngSubmit)="insertarDatos()">
          <div class="custom-file mb-3">
            <input formControlName="miniatura" (change)="cambioArchivo($event)" type="file" class="custom-file-input" id="miniatura">
            <label class="custom-file-label" for="miniatura">{{mensajeArchivo.miniatura}}</label>
          </div>
          <div class="custom-file">
            <input formControlName="image" (change)="cambioArchivo($event)" type="file" class="custom-file-input" id="image">
            <label class="custom-file-label" for="image">{{mensajeArchivo.image}}</label>
          </div>
          <div class="form-group mt-5">
            <button type="submit" [disabled]="!galeriaCmsForm.valid" class="btn btn-primary">
              <span class="text-btn">Insertar</span>
              <span class="spinner-grow spinner-grow-md cargando mx-auto d-none" role="status"></span>
            </button>
          </div>
        </form>
        <div id="success-alert" class="alert alert-{{respuesta.color}} alert-dismissible fade show mt-2" role="alert">
          {{respuesta.mensaje}}
        </div>
      </div>
    </div>
  </div>
</div>
