<div class="card-columns">
   <div class="card animated fadeIn" *ngFor="let item of galeriaItems">
        <a (click)="openDialog(item.image)" data-toggle="modal" data-target="#Modal">
            <img *ngIf="item.miniatura" class="card-img-top" src="{{item.miniatura}}" alt="Card modal" style="max-width: 450px; max-height: 450px;">
            <img *ngIf="!item.miniatura" class="card-img-top" src="{{item.image}}" alt="Card modal" style="max-width: 450px; max-height: 450px;">
        </a>
   </div>
</div>
