footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn-whatsapp {
    background-color: rgba(30, 252, 1, 0.795);
    margin-left: 20px;
    padding-top: 6px;
}
.scroll-top {
    background-color: #000;
    left: 100%;
    margin-right: 20px;
}
button, .btn-whatsapp {
    position: sticky;
    bottom: 20px;
    z-index: 999;
}
::ng-deep.mat-button-wrapper {
    padding: 0 !important;
}