<div #inicio class="container mb-5 py-5 animated fadeIn">
  <div class="row">
      <div class="col-12 col-md-8">
          <img src="assets/img/contaccto.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-12 col-md-4">
          <div style="border-bottom: 1px solid rgb(0, 0, 0);">
              <p class="font-weight-bolder text-left h3 mt-3 mt-md-0">Galeria de Arte</p>
          </div>
          <div>
              <h3 class="font-weight-bolder text-left">Contacto</h3>
              <p class="text-left">
                  Av. 30 de Agosto #37 - 66 <br>
                  Pereira <br>
                  CP 66297 <br>
                  Colombia <br>
                  galeria@arte.com.co <br>
                  +57 (81) 8303-0362 <br>
                  http://www.galeriadearte.com/
              </p>
          </div>
          <div class="text-center">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d993.9371894178605!2d-75.70925056082109!3d4.813146440998413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sco!4v1583212043183!5m2!1sen!2sco" width="100%" height="250px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
      </div>
  </div>
</div>