<div #inicio class="container py-5 mb-5 animated fadeIn">
  <div class="row">
      <div class="col-12">
          <h1>Nosotros</h1>
          <p class="text-justify">
              galeria.com es una plataforma de difusión y venta de obras de arte de alta calidad a precios accesibles. Nuestro objetivo es conectar artistas y compradores a través de nuestra comunidad virtual abierta 24/7. No necesitas ser un experto o pedir cita previa, lagaleriaonline.co te acerca a los artistas y a las ideas que los inspiran.
          </p>
          <p class="text-justify">
              El comité curatorial de galeria.com está compuesto de forma permanente por Francisca Miramón y Viviana Mayor, quienes cuentan con 10 años de experiencia en temas de curaduría, producción y gestión de exposiciones de arte. Entre 2015 y 2017, desarrollaron la curaduría de la Galería Cafam de Bellas Arte con la intención de ampliar las fronteras del arte contemporáneo y llevarla a nuevos públicos.
          </p>
          <h3 class="mt-3">La Metro oficina para la cultura</h3>
          <p class="text-justify">
              Francisca es artista visual de la Pontificia Universidad Javeriana de Bogotá y cuenta con una maestría en Dirección y Producción de Exposiciones de Elisava de Barcelona. Ha trabajado en varias galerías como gestión y realización de proyectos expositivos en galerías como Nueveochenta, Galería El Museo y Ángels (Barcelona), así como también en producción y relaciones públicas en ferias de arte contemporáneo como ArtBo (Colombia), Chaco (Chile) y Art Santander (España). 
          </p>
          <p class="font-weight-bolder text-justify">
              Te invitamos a conocer más de 100 obras de artistas nacionales e internacionales, donde podrás encontrar pintura, escultura, dibujo, fotografía y obras gráficas. Escoge la que más te guste, paga en línea y te la llevamos a tu casa.
          </p>
          <p class="text-justify">
              ¡Con <span class="text-primary">galeria.com</span>, todos podemos ser coleccionistas!
          </p>
      </div>
  </div>
</div>
