.carousel-item img {
    height: 100%;
}

.slider {
    display:block;
    width:150px;
    height:70px;
    color: #fff;
    position: fixed;
    margin-left:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}