<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-items-center" style="height: 80vh;">
      <div class="card mx-auto p-5">
        <form [formGroup]="sliderCmsForm" (ngSubmit)="insertarDatos(sliderCmsForm.value)">
          <div class="custom-file">
            <input formControlName="image" (change)="cambioArchivo($event)" type="file" id="customFile" class="custom-file-input" accept=".png, .jpg">
            <label class="custom-file-label" for="customFile">{{mensajeArchivo}}</label>
          </div>
          <div class="form-group mt-2">
            <select formControlName="clase" class="custom-select">
              <option selected value="not">Not Start</option>
              <option value="active">Start</option>
            </select>
          </div>
          <div class="form-group mt-5">
            <button type="submit" [disabled]="!sliderCmsForm.valid" class="btn btn-block btn-primary">
              <span class="text-btn">Insertar</span>
              <span class="spinner-grow spinner-grow-md cargando mx-auto d-none" role="status"></span>
            </button>
          </div>
        </form>
        <div id="success-alert" class="alert alert-{{respuesta.color}} alert-dismissible fade show mt-2" role="alert">
          {{respuesta.mensaje}}
        </div>
      </div>
    </div>
  </div>
</div>