<div class="container">
  <div class="row">
    <div class="col-12 d-flex align-items-center" style="height: 80vh;">
      <div class="card mx-auto p-5">
        <form [formGroup]="inicioCmsForm" (ngSubmit)="insertarDatos(inicioCmsForm.value)">
          <div class="custom-file mb-2">
            <input formControlName="image" (change)="cambioArchivo($event)" type="file" class="custom-file-input" accept=".png, .jpg">
            <label class="custom-file-label" for="customFile">Cargar imagen</label>
            <span class="file-name">{{ mensajeArchivo }}</span>
          </div>
          <div class="form-group mt-3">
            <label for="titulo">Titulo</label>
            <input  type="text" class="form-control" formControlName="titulo" placeholder="Pintura">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" formControlName="descripcion" rows="3"></textarea>
          </div>
          <div class="form-group mt-5">
            <button type="submit" [disabled]="!inicioCmsForm.valid" class="btn btn-block btn-primary">Insertar</button>
          </div>
        </form>
        <div *ngIf="porcentaje > 0 && porcentaje < 100" class="progress my-2">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{width: porcentaje}" aria-valuenow="porcentaje" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div *ngIf="respuesta.mensaje != ''"  class="alert alert-{{respuesta.color}} mt-2" role="alert">
          {{respuesta.mensaje}}
        </div>
      </div>
    </div>
  </div>
</div>
