/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Linden Hill', serif; }

 /* Rules for sizing the icon. */
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }

 body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(82, 56, 56, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    height: 100px;
    outline: 1px solid slategrey;
  }



/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .nav-link {
        font-size: 1rem !important;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-link {
        font-size: 1.2rem !important;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }