::ng-deep.mat-dialog-container {
    background-color: transparent;
}

.galeria {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}